html,
body {
  min-height: 630px;
  font-family: "Rubik", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    66deg,
    rgb(0, 212, 255, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgb(255, 255, 255) 48%
  );
}
table,
td,
th {
  border-collapse: collapse;
  border-spacing: 10px;
  border: 1px solid black;
  padding: 20px 20px;
  text-align: center;
}

th {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
}

td {
  font-weight: 600px;
  background-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#prev-button {
  background-color: rgb(255, 188, 62);
  padding: 5px 17px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}
#next-button {
  background-color: rgb(103, 232, 255);
  padding: 5px 17px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}
#prev-button:hover {
  background-color: rgb(255, 166, 0);
}
#next-button:hover {
  background-color: rgb(0, 217, 255);
}
